<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fateh7.roothider">

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:theme="@style/Theme.RootHider"
        android:supportsRtl="true">

        <!-- Home page -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Xposed / LSPosed module metadata -->
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription"
            android:value="Hides root + hides chosen apps from scoped targets, with anti-hook-detection. Pair with the RootHider Zygisk module." />
        <meta-data android:name="xposedminversion" android:value="93" />
        <meta-data android:name="xposedscope" android:resource="@array/xposed_scope" />
    </application>
</manifest>
