<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Needed to list all installed apps in the pickers (Android 11+) -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:icon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.HideRoot">

        <!-- Xposed / LSPosed module metadata -->
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription"
            android:value="Hides root packages, paths, settings and spoofs a locked bootloader for scoped apps." />
        <meta-data android:name="xposedminversion" android:value="93" />

        <activity
            android:name=".HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".TemplatesActivity" android:exported="false" />
        <activity android:name=".TemplateEditActivity" android:exported="false" />
        <activity android:name=".AppsActivity" android:exported="false" />
        <activity android:name=".AppConfigActivity" android:exported="false" />
        <activity android:name=".AccountActivity" android:exported="false" />
    </application>
</manifest>
